body {
    padding-top: 80px;
    font-family: sans-serif;
}

.nav-link {
    padding: 4px;
}
.card-img-top{
    border-radius:50%;
    width:50%;
    margin-left:25%;
}
.logga {
    color: #fff;
    font-size: 35px;
    font-family: 'Sabon MT Std';
}
